*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #324e63;
  }
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(background1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-card{
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.884);
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
    border-radius: 12px;
}
.profile-card-img{
    width: 150px;
    height: 150px;
    margin:auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgba(230, 180, 14, 0.877), 0px 0px 0px 7px rgba(240, 173, 18, 0.749);
}
.profile-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card-info{
    text-align: center;
}
.profile-card-info>*{
    margin-bottom: 15px;
    font-weight: 700;
}
.profile-card-info .name{
    color:rgb(108, 68, 252);
    font-size: 20px;
}
/* .end{
    text-align: center;
    color:rgba(128, 126, 126, 0.356);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */
.profile-card-social{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-social .item{
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
}
.profile-card-social .item:hover{
    transform: scale(1.2);
}
.facebook{
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgb(43 98 169 / 50%);
}
.tiktok{
    background: linear-gradient(45deg, #2b3941, #056475);
    box-shadow: 0px 4px 30px rgb(19 127 212 / 70%);
}
.instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgb(120 64 190 / 60%);
}
.youtube{
    background: linear-gradient(45deg, #dd0909, #df0808);
    box-shadow: 0px 4px 30px rgb(63 65 67 / 60%);
}
.website{
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%);
}
.call{
    background: linear-gradient(45deg, #0b6f15, #24dd46);
    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%);
}
.zalo{
    background: linear-gradient(45deg, #0c60a5, #7794d3);
    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%);
}
.gmail{
    background: linear-gradient(45deg, #0bc6ff, #3b2fca);
    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%);
}